body{
	background-color:#38b6ff;
	margin:20px;
	padding:20px;
}
.ab1{
	margin-left:30%;
}


.fil{
	padding:0px;
	padding-top:0px;
	border-radius:23px;
	width:50%;
	height:70%px;
	position:absolue;
	right:30%;
	margin-left:25%;
	margin-top:150px;
	background-color:#38b6ff
}


.po{
	margin-left:30%;
	
}

.po1{
	margin-left:30%;
	
}

.po2{
	margin-left:30%;
	
}
.po4{
	margin-left:30%;
	
}

.po7{
	margin-left:21%;
	color: #38b6ff;
	margin-left:
	
}



